applications/*
!applications/welcome
!applications/welcome/*
!applications/examples
!applications/examples/*
!applications/admin
!applications/admin/*
applications/*/databases/*
applications/*/sessions/*
applications/*/errors/*
applications/*/cache/*
applications/*/static/temp
applications/*/progress.log
applications/examples/static/epydoc
applications/examples/static/sphinx
applications/admin/cron/cron.master